.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

.rounded-full {
  border-radius: 50%;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.object-cover {
  object-fit: cover;
}

.box-content {
  box-sizing: content-box;
}

.bg-green {
  background-color: lightgreen;
}
.border-primary-800 {
  border: 1px solid var(--color-primary-800);
}

.bg-primary-800 {
  background-color: var(--color-primary-800);
}

.absolute {
  position: absolute;
}

.text-secondary {
  color: var(--color-secondary);
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
