.explorePage__layout {
  display: grid;
  grid-template-columns: 70px 1fr;
}

.explorePage__layout__main {
  display: grid;
  grid-template-columns: 250px 1fr;
  width: 100%;
  height: 100%;
}

.explorePage__leftSidebar {
  background-color: var(--color-primary-700);
}

.explorePage__leftSidebar > h4 {
  margin: 0;
  margin-left: 20px;
}

.explorePage__leftSidebar_links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.explorePage__leftSidebar_link {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--color-primary-600);
  margin: 0px 15px 0px 15px;
  padding: 0px 10px 0px 10px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.activeExplorePage > p {
  color: var(--color-accent);
}

.ExploreAppPage__header {
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.ExploreAppPage__title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ExploreAppPage__header > span:nth-child(2) {
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
}

.ExploreAppPage__topSection {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.ExploreAppPage__topSection__search {
  border: 2px solid var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 60%;
  height: 40px;
  border-radius: 5px;
}

.ExploreAppPage__topSection__search > input {
  background-color: transparent;
  border: none;
  outline: none;
  outline-width: 0;
  flex: 0.9;
  height: 87%;
  color: #fff;
  font-size: 17px;
}

.ExploreAppPage__topSection__search > input::placeholder {
  color: #fff !important;
  opacity: 0.8;
}

.ExploreAppPage__topSection__search > input::-moz-placeholder {
  color: #fff !important;
  opacity: 0.8;
}

.ExploreAppPage__topSection__search > span {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 890px) {
  .ExploreAppPage__topSection__search {
    width: 100%;
  }
}
