.teamPageLayout__leftSidebar {
  background-color: var(--color-primary-700);
}

.teamPageLayout__leftSidebar_header {
  display: flex;
  height: 50px;
  box-shadow: var(--elevation-low);
  align-items: center;
}

.teamPageLayout__leftSidebar_header > p {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 0px;
  padding-left: 10px;
  text-transform: capitalize;
}

.teamPageChatHeader {
  background-color: #2a3341;
  height: 50px;
  display: flex;
  align-items: center;
}

.teamPageChatHeader__roomName {
  margin: 0;
  margin-left: 0.4rem;
  display: flex;
  gap: 10px;
  color: #fff !important;
  font-size: 20px;
}

.teamPageChatHeader__right {
  display: flex;
  flex: 1 1;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 1rem;
}
