.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.button-curved {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
}

/* Colors */

.button-primary {
  background-color: var(--color-accent);
  color: var(--color-button-text);
}

.button-primary:hover {
  background-color: var(--color-accent-hover);
}

.button-secondary {
  background-color: var(--color-primary-700);
  color: var(--color-primary-200);
}

.button-secondary:hover {
  background-color: var(--color-primary-300);
  color: #fff;
}

/* Sizes */
.button-big {
  width: 120px;
  height: 40px;
  font-size: 16px;
}

.button-custom {
  height: 40px;
}

.button-custom > * {
  padding-left: 10px;
  padding-right: 10px;
}

.button-small {
  width: 100px;
  height: 35px;
  font-size: 14px;
}

.button-tiny {
  width: 70px;
  height: 27px;
  font-size: 13px;
}
